<div >
<mat-card class="example-card" *ngIf="noMostrar==true">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="background-image: url('assets/avatars/av-2.png')"></div>
        <mat-card-title class="main-green-text">Nuevo Presupuesto</mat-card-title>
        <mat-card-subtitle>Para el programa: {{programa.nombre}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>


        <div>
           
            <div class="row">
                <div class="col-12">
                    <app-checkbox [tasks]="aniosCheck" Nombre='Presupuesto Anual'
                        (datoSalid)='onNotificar($event, "Etnico")'></app-checkbox>
                </div>
            </div>
           
        </div>



    </mat-card-content>


        <mat-card-actions>
            <div class="row">
                <div class="col-6 centerlabel font-weight-bold" style="text-align: center;">
                    <button mat-raised-button ngbAutofocus (click)="cerrar()" >  <mat-icon>close</mat-icon></button>
                </div>
                <div class="col-6 centerlabel font-weight-bold" style="text-align: center;">
                    <button mat-raised-button color="warn" [disabled]="!permitirGuardar"
                        (click)="guardarData()">
                        <mat-icon>cached</mat-icon>
                    </button>
                </div>
            </div>

        </mat-card-actions>

 
</mat-card>
</div>