<div class="container">

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title  class="main-green-text">Actualizar Archivo del proyecto </mat-card-title>
            <mat-card-subtitle>Actualizar</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="form-group">
                <label for="file">Adjuntar Nuevo Archivo</label>
                <input type="file" id="file" [accept]="contentInclude" (change)="handleFileInput($event.target.files)">
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="row">
                <div class="col-6 centerlabel font-weight-bold" style="text-align: center;">
                    <button mat-raised-button color="warn" ngbAutofocus (click)="Cerrar()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div class="col-6 centerlabel font-weight-bold" style="text-align: center;">
                    <button mat-raised-button color="warn" [disabled]="!this.ValidarArchivo"
                        (click)="onGuardar()">
                        <mat-icon>cached</mat-icon>
                    </button>
                </div>
            </div>

        </mat-card-actions>

    </mat-card>
</div>