<div class="container">
    <mat-horizontal-stepper [linear]="true" #stepper>

        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Información General</ng-template>
                <div class="row">
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Estado del proyecto</mat-label>
                            <mat-select formControlName="estado" [(ngModel)]="infoProyecto.Status" required>
                                <mat-option *ngFor="let estado of estados" [value]="estado.value">
                                    {{estado.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre del Proyecto</mat-label>
                            <input matInput placeholder="Nombre del Proyecto" formControlName="proyecto"
                                [(ngModel)]="infoProyecto.Nombre" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Donante</mat-label>
                            <input matInput formControlName="Donante" [(ngModel)]="infoProyecto.Donante"
                                placeholder="Donante" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Tipo de Financiación</mat-label>
                            <mat-select formControlName="financiacion" [(ngModel)]="infoProyecto.TipoFinanciacion"
                                required>
                                <mat-option *ngFor="let estado of financiacion" [value]="estado.value">
                                    {{estado.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12 centerlabel font-weight-bold"><label>DATOS CONTACTO</label></div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre del Contacto</mat-label>
                            <input matInput placeholder="Nombre Contacto" formControlName="NombreContacto"
                                [(ngModel)]="infoProyecto.NombreDonante" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Direccion</mat-label>
                            <input matInput placeholder="Direccion" formControlName="Direccion"
                                [(ngModel)]="infoProyecto.Direccion" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput formControlName="email" [(ngModel)]="infoProyecto.Email"
                                placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Telefono</mat-label>
                            <input type="text" matInput formControlName="telefono" [(ngModel)]="infoProyecto.Telefono"
                                placeholder="Telefono" required>
                        </mat-form-field>
                    </div>

                </div>


                <div class="row">
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Líder de Ejecución del Proyecto</mat-label>
                            <input matInput placeholder="Lider Ejecucion" formControlName="LiderEjecucion"
                                [(ngModel)]="infoProyecto.LiderEjecucion" required>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Lider de la Coordinacion del Proyecto</mat-label>
                            <input matInput placeholder="Lider de la Coordinacion" formControlName="LiderCoordinacion"
                                [(ngModel)]="infoProyecto.LiderCoordinacion" required>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Comite Técnico del Proyecto</mat-label>
                            <input matInput formControlName="ComiteTecnico" [(ngModel)]="infoProyecto.ComiteTecnico"
                                placeholder="Comite Tecnico del Proyecto" required>
                        </mat-form-field>
                    </div>

                </div>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col-12 centerlabel font-weight-bold"><label>IMPLEMENTACION</label></div>
                </div>

                <div class="row">
                    <div class="col-3">

                        <mat-form-field appearance="fill">
                            <mat-label>Tipo de Implementación</mat-label>
                            <mat-select formControlName="tipoImplementacion"
                                [(ngModel)]="infoProyecto.TipoImplementacion" required>
                                <mat-option *ngFor="let item of tipoImplementacion" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>



                </div>

                <div class="row">
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Departamentos</mat-label>

                            <mat-select (selectionChange)="cambioDepartamento($event.value)">
                                <mat-option *ngFor="let departamento of Departamentos" [value]="departamento.codigo">
                                    {{departamento.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Municipio</mat-label>

                            <mat-select (selectionChange)="cambioMunicipio($event.value)">
                                <mat-option *ngFor="let municipio of MunicipioSeleccionado" [value]="municipio.codigo"
                                    [disabled]="municipio.activo">
                                    {{municipio.nombre}}

                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <button mat-raised-button [disabled]="AgregarMuni"
                            class="btn mat-focus-indicator btn btn-success pull-right bajar mat-raised-button mat-button-base mat-primary pull-right bajar"
                            color="primary" (click)="agregarMunicipio()" value="Agregar Municipio">Agregar
                            Municipio</button>

                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <table #departamentos mat-table [dataSource]="dataSourcemunicipio"
                            class="mat-elevation-z8  centrarTabla departamento">


                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element ;let i = index;"> {{i+1}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Departamento">
                                <th mat-header-cell *matHeaderCellDef> Departamento </th>
                                <td mat-cell *matCellDef="let element"> {{element.Departamento}}
                                </td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="Municipio">
                                <th mat-header-cell *matHeaderCellDef> Municipio </th>
                                <td mat-cell *matCellDef="let element"> {{element.Municipio}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Quitar">
                                <th mat-header-cell *matHeaderCellDef> Quitar </th>
                                <td mat-cell *matCellDef="let element">
                                    <button type="button" mat-mini-fab color="primary" aria-label="fecha"
                                        (click)="eliminarMunicipio(element)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button> </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumnsDepartamento"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsDepartamento;"></tr>
                        </table>


                    </div>

                </div>

                <div class="row">
                    <div class="col-12 centerlabel font-weight-bold"><label>FECHAS PROYECTO</label></div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Requiere Liquidación</mat-label>
                            <mat-select formControlName="requiere" [(ngModel)]="infoProyecto.Requiere" required>
                                <mat-option *ngFor="let item of requiere" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Fecha de Inicio</mat-label>
                            <input matInput formControlName="fechas" [matDatepicker]="picker"
                                [(ngModel)]="infoProyecto.FechaInicio" ng-keydown="$event.preventDefault();"
                                (dateChange)="Cambio($event)">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-3">

                        <mat-form-field appearance="fill">
                            <mat-label>Fecha de Finalizacion</mat-label>
                            <input matInput formControlName="fechasFin" [matDatepicker]="pickerEnd"
                                ng-keydown="$event.preventDefault();" (dateChange)="Cambio($event)"
                                [min]="infoProyecto.FechaInicio" [(ngModel)]="infoProyecto.FechaFinalizacion">
                            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #pickerEnd></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Tiempo de Ejecucion</mat-label>
                            <input matInput disabled="true" [value]="tiempo">


                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 centerlabel font-weight-bold"><label>FECHA DE REUNIONES</label></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="row">

                            <div class="col-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha de entrega De informes</mat-label>
                                    <input matInput formControlName="fechas" [matDatepicker]="pickerInformes"
                                        [(ngModel)]="FechaInformes" ng-keydown="$event.preventDefault();"
                                        (dateChange)="CambioInformes($event)">
                                    <mat-datepicker-toggle matSuffix [for]="pickerInformes"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #pickerInformes></mat-datepicker>
                                    <!-- <input type="button" value="Agregar Fecha"/> -->

                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <button mat-raised-button
                                    class="btn mat-focus-indicator btn btn-success pull-right bajar mat-raised-button mat-button-base mat-primary pull-right bajar"
                                    [disabled]="!AgregarInfome" color="primary" (click)="AgregarFechaInforme()">Agregar
                                    Fecha</button>

                            </div>
                        </div>
                        <div class="row">
                            <div class="centrarTabla col-4">


                                <table #informes mat-table [dataSource]="dataSourceInformes"
                                    class="mat-elevation-z8 estirar">


                                    <!-- Position Column -->
                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Fecha">
                                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Fecha |date:['yyyy-MM-dd']}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Quitar">
                                        <th mat-header-cell *matHeaderCellDef> Quitar </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button type="button" mat-mini-fab color="primary" aria-label="fecha"
                                                (click)="eliminarFechaInforme(element)">
                                                <mat-icon>delete_outline</mat-icon>
                                            </button> </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>


                            </div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">

                            <div class="col-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha de reuniones de Comite</mat-label>
                                    <input matInput formControlName="fechas" [matDatepicker]="pickerreunionComite"
                                        [(ngModel)]="FechaComite" ng-keydown="$event.preventDefault();"
                                        (dateChange)="CambioComite($event)">
                                    <mat-datepicker-toggle matSuffix [for]="pickerreunionComite">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker touchUi #pickerreunionComite></mat-datepicker>
                                    <!-- <input type="button" value="Agregar Fecha"/> -->

                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <button mat-raised-button
                                    class="btn mat-focus-indicator btn btn-success pull-right bajar mat-raised-button mat-button-base mat-primary pull-right bajar"
                                    [disabled]="!agregarComite" color="primary" (click)="agregarFechaComite()">Agregar
                                    Fecha</button>

                            </div>
                        </div>
                        <div class="row">
                            <div class="centrarTabla col-4">


                                <table #reuniones mat-table [dataSource]="dataSourceComites"
                                    class="mat-elevation-z8 estirar">


                                    <!-- Position Column -->
                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Fecha">
                                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Fecha |date:['yyyy-MM-dd']}}
                                        </td>
                                    </ng-container>
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Quitar">
                                        <th mat-header-cell *matHeaderCellDef> Quitar </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button type="button" mat-mini-fab color="primary" aria-label="fecha"
                                                (click)="eliminarfechaComite(element)">
                                                <mat-icon>delete_outline</mat-icon>
                                            </button> </td>
                                    </ng-container>




                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>


                            </div>

                        </div>
                    </div>
                </div>


                <mat-divider>

                </mat-divider>

                <div>
                    <!-- <button mat-raised-button color="warn"  [disabled]="validarNextPantalla_1" (click)="onGuardar()">Guardar</button>
                 -->
                    <button mat-raised-button color="warn" matStepperNext
                        [disabled]="(!validarNextPantalla_1  && !this.firstFormGroup.invalid)? false: true">Continuar</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">

                <ng-template matStepLabel>Información Financiera</ng-template>
                <div class="row">

                    <div class="col-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Costo Total Del Proyecto</mat-label>

                            <input matInput type="number" placeholder="Costo Total " formControlName="CostoTotal"
                                [(ngModel)]="infoFinanciera.CostoTotal" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 centerlabel font-weight-bold"><label>PRESUPUESTO POR FUENTES</label></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Fuente Presupuesto</mat-label>
                            <mat-select formControlName="Fuente" [(ngModel)]="infoFinanciera.FuentePresupuesto"
                                required>
                                <mat-option *ngFor="let item of Fuente" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Tipo Fuente</mat-label>
                            <mat-select formControlName="TipoFuente" [(ngModel)]="infoFinanciera.TipoFuente" required>
                                <mat-option *ngFor="let item of TipoFuente" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Moneda Donación</mat-label>
                            <input matInput formControlName="Moneda" [(ngModel)]="infoFinanciera.MonedaDonacion"
                                required />

                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Tasa de Cambio Pactada</mat-label>
                            <input matInput formControlName="TasaCambio" [(ngModel)]="infoFinanciera.TasaCambio"
                                required />

                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Cuenta a la que llegan los fondos</mat-label>


                            <input matInput placeholder="Cuenta a la que llegan los fondos" formControlName="Cuenta"
                                [(ngModel)]="infoFinanciera.Cuenta" required />

                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Centro de Costos</mat-label>
                            <mat-select formControlName="CentroCosto" [(ngModel)]="infoFinanciera.CentroCostos"
                                (selectionChange)="cambioCentroCosto($event.value)" required>
                                <mat-option *ngFor="let item of centrosCostos" [value]="item.codigoCentro">
                                    {{item.nombre}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Sub Centro de Costos </mat-label>
                            <mat-select formControlName="SubCentroCosto" [(ngModel)]="infoFinanciera.SubCentro"
                                required>
                                <mat-option *ngFor="let item of subCentroSeleccionado" [value]="item.codigoSubCentro">
                                    {{item.nombre}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Navision/ Facility</mat-label>
                            <input matInput formControlName="Navision" [(ngModel)]="infoFinanciera.NavisionFacilitiy"
                                required />

                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div>
                        <div class="row">

                            <div class="col-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha de Desembolsos</mat-label>
                                    <input matInput formControlName="fechas" [matDatepicker]="pickerDesembolso"
                                        [(ngModel)]="FechaDesembolso" ng-keydown="$event.preventDefault();"
                                        (dateChange)="cambioDesembolso($event)">
                                    <mat-datepicker-toggle matSuffix [for]="pickerDesembolso">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker touchUi #pickerDesembolso></mat-datepicker>
                                    <!-- <input type="button" value="Agregar Fecha"/> -->

                                </mat-form-field>
                            </div>
                            <div class="col-3" style="padding-right: 30px;">
                                <button mat-raised-button
                                    class="btn mat-focus-indicator btn btn-success pull-right bajar mat-raised-button mat-button-base mat-primary pull-right bajar"
                                    [disabled]="!AgregarDesembolso" color="primary"
                                    (click)="agregarFechaDesembolso()">Agregar
                                    Fecha</button>

                            </div>
                            <div class="centrarTabla col-5" style="padding-left: 10px;">


                                <table #desebolsos mat-table [dataSource]="dataSourceDesembolsos"
                                    class="mat-elevation-z8 estirar">


                                    <!-- Position Column -->
                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Fecha">
                                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Fecha |date:['yyyy-MM-dd']}}
                                        </td>
                                    </ng-container>
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Quitar">
                                        <th mat-header-cell *matHeaderCellDef> Quitar </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button type="button" mat-mini-fab color="primary" aria-label="fecha"
                                                (click)="eliminarDesembolso(element)">
                                                <mat-icon>delete_outline</mat-icon>
                                            </button> </td>
                                    </ng-container>




                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>


                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">


                    <div class="centrarTabla col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Responsable</mat-label>
                            <input [(ngModel)]="infoFinanciera.Responsable" matInput formControlName="responsable"
                                required />


                        </mat-form-field>
                    </div>
                    <div class="centrarTabla col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Lugar</mat-label>
                            <input matInput formControlName="lugar" [(ngModel)]="infoFinanciera.Lugar" required />


                        </mat-form-field>
                    </div>
                    <div class="centrarTabla col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Visitas del Donante</mat-label>
                            <input matInput formControlName="fechas" [matDatepicker]="picherVisitas"
                                [(ngModel)]="FechaVisita" ng-keydown="$event.preventDefault();"
                                (dateChange)="cambioVisita($event)">
                            <mat-datepicker-toggle matSuffix [for]="picherVisitas">
                            </mat-datepicker-toggle>
                            <mat-datepicker touchUi #picherVisitas></mat-datepicker>
                            <!-- <input type="button" value="Agregar Fecha"/> -->

                        </mat-form-field>
                    </div>
                    <div class="col-3" style="padding-right: 30px;">
                        <button mat-raised-button
                            class="btn mat-focus-indicator btn btn-success pull-right bajar mat-raised-button mat-button-base mat-primary pull-right bajar"
                            [disabled]="!AgregarVisita" color="primary" (click)="agregarVisita()">Agregar
                            Fecha</button>

                    </div>
                    <div class=" centrarTabla col-1"></div>

                </div>
                <div class="row">
                    <div class=" col-1"></div>
                    <div class="centrarTabla col-4" style="padding-left: 10px;">


                        <table #vistantes mat-table [dataSource]="dataSourceVisita" class="mat-elevation-z8 estirar">


                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="Fecha">
                                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                <td mat-cell *matCellDef="let element"> {{element.Fecha |date:['yyyy-MM-dd']}}
                                </td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="Quitar">
                                <th mat-header-cell *matHeaderCellDef> Quitar </th>
                                <td mat-cell *matCellDef="let element">
                                    <button type="button" mat-mini-fab color="primary" aria-label="fecha"
                                        (click)="eliminarVisita(element)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button> </td>
                            </ng-container>




                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>


                    </div>
                    <div class="centrarTabla col-2"></div>



                </div>
                <mat-divider></mat-divider>
                <div class="row">

                    <div class="">

                        <table mat-table [dataSource]="ejecucion" class="mat-elevation-z8 ajuste">


                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="1">
                                <th mat-header-cell *matHeaderCellDef> 1 </th>
                                <td mat-cell *matCellDef="let element; let i  = index">
                                    <!-- <ng-template viewMode> -->
                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Enero"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="2">
                                <th mat-header-cell *matHeaderCellDef> 2 </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Febrero"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="3">
                                <th mat-header-cell *matHeaderCellDef> 3 </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Marzo"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="4">
                                <th mat-header-cell *matHeaderCellDef> 4 </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field class="maxWidth">
                                        <input matInput type="number" [(ngModel)]="element.Abril"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="5">
                                <th mat-header-cell *matHeaderCellDef> 5 </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Mayo"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="6">
                                <th mat-header-cell *matHeaderCellDef> 6 </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Junio"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <mat-divider></mat-divider>
                            <ng-container matColumnDef="7">
                                <th mat-header-cell *matHeaderCellDef> 7 </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Julio"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="8">
                                <th mat-header-cell *matHeaderCellDef> 8 </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Agosto"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="9">
                                <th mat-header-cell *matHeaderCellDef> 9 </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Sept"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="10">
                                <th mat-header-cell *matHeaderCellDef> 10 </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Octubre"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="11">
                                <th mat-header-cell *matHeaderCellDef> 11 </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Noviembre"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="12">
                                <th mat-header-cell *matHeaderCellDef> 12 </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Diciembre"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>









                            <tr mat-header-row *matHeaderRowDef="displayedColumnsPROYECTO"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsPROYECTO;"></tr>
                        </table>


                    </div>




                </div>
                <div class="form-group">
                    <label for="file">Adjuntar Presupuesto</label>
                    <input type="file" id="file" [accept]="contentInclude"
                        (change)="handleFileInput($event.target.files)">
                </div>
                <mat-divider></mat-divider>


                <div>

                    <button mat-raised-button color="warn" matStepperPrevious>Atras</button>


                    <button mat-raised-button color="warn" matStepperNext
                        [disabled]="(!validarNextPantalla_2  && !this.secondFormGroup.invalid)? false: true">Continuar</button>

                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Participantes Proyectados</ng-template>
                <div class="row">
                    <div class="col-12 centerlabel font-weight-bold"><label>PARTICIPANTES PROYECTO</label></div>
                </div>
                <div class="row">

                    <div class="">

                        <table #participantesTable mat-table [dataSource]="participantes"
                            class="mat-elevation-z8 participantes">


                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="0 - 5 Años">
                                <th mat-header-cell *matHeaderCellDef> 0 - 5 Años </th>
                                <td mat-cell *matCellDef="let element; let i  = index">
                                    <!-- <ng-template viewMode> -->
                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Rango_0_5"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="6 - 12 años">
                                <th mat-header-cell *matHeaderCellDef> 6 - 12 años </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Rango_6_12"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="13 - 15 años">
                                <th mat-header-cell *matHeaderCellDef> 13 - 15 años </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Rango_13_17"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="18 - 24 años">
                                <th mat-header-cell *matHeaderCellDef> 18 - 24 años </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field class="maxWidth">
                                        <input matInput type="number" [(ngModel)]="element.Rango_18_24"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="25 - 56 años">
                                <th mat-header-cell *matHeaderCellDef> 25 - 56 años </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Rango_25_56"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Mayores de 60 años">
                                <th mat-header-cell *matHeaderCellDef> Mayores de 60 años </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Mayores_60"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <mat-divider></mat-divider>
                            <ng-container matColumnDef="Total">
                                <th mat-header-cell *matHeaderCellDef> TOTAL </th>
                                <td mat-cell *matCellDef="let element; let i  = index">

                                    <mat-form-field>
                                        <input matInput type="number" [(ngModel)]="element.Total"
                                            formControlName="proyecto">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsParticipante"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsParticipante;"></tr>
                        </table>


                    </div>




                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Total Familias Participantes</mat-label>
                            <input matInput type="number" formControlName="totalFamilias"
                                [(ngModel)]="infoProyectados.TotalFamilias" required />

                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Observaciones</mat-label>
                            <input matInput formControlName="Observaciones" [(ngModel)]="infoProyectados.Observaciones"
                                required />

                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 centerlabel font-weight-bold"><label>OTROS PARTICIPANTES</label></div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Tipo de Participantes</mat-label>
                            <input matInput formControlName="TipoP" [(ngModel)]="otroTipo" />

                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Total de Participantes</mat-label>
                            <input matInput type="number" formControlName="TotalP" [(ngModel)]="otroTotal" />

                        </mat-form-field>
                    </div>
                    <div class="col-4" style="padding-right: 30px;">
                        <button mat-raised-button
                            class="btn mat-focus-indicator btn btn-success pull-right bajar mat-raised-button mat-button-base mat-primary pull-right bajar"
                            color="primary" (click)="AgregarOtro()">Agregar
                            Participante</button>

                    </div>

                </div>
                <div class="row">
                    <div class="col-5" style="padding-left: 10px;">


                        <table #otros mat-table [dataSource]="dataSourceOtros" class="mat-elevation-z8 estirar">

                            <!-- Name Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> position </th>
                                <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1}}
                                </td>
                            </ng-container>


                            <!-- Name Column -->
                            <ng-container matColumnDef="Tipo">
                                <th mat-header-cell *matHeaderCellDef> Tipo Participante </th>
                                <td mat-cell *matCellDef="let element"> {{element.Nombre}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Total">
                                <th mat-header-cell *matHeaderCellDef> Total de Participante </th>
                                <td mat-cell *matCellDef="let element"> {{element.Total}}
                                </td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="Quitar">
                                <th mat-header-cell *matHeaderCellDef> Quitar </th>
                                <td mat-cell *matCellDef="let element">
                                    <button type="button" mat-mini-fab color="primary" aria-label="fecha"
                                        (click)="eliminarOtro(element)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button> </td>
                            </ng-container>




                            <tr mat-header-row *matHeaderRowDef="displayedOtros"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedOtros;"></tr>
                        </table>


                    </div>
                </div>
                <div>
                    {{this.thirdFormGroup.invalid}}
                    <button mat-button matStepperPrevious>Volver</button>


                    <button mat-raised-button color="warn" matStepperNext
                        [disabled]="this.thirdFormGroup.invalid">Continuar</button>

                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Guardar</ng-template>
            <div class="row"  *ngIf="!MostrarExitoso">
                <div class="col-12 centerlabel font-weight-bold">
                    <label>Ya casi esta listo pulsa guardar</label>
                    <br>
                    <button mat-raised-button color="warn" [disabled]="Guardando" (click)="onGuardar()">Guardar</button>

                </div>


            </div>
            <div class="row centrarTabla"  *ngIf="MostrarExitoso" >
                <div class="col-3"></div>
                <div class="col-6 centerlabel">
                    <mat-card class="example-card" color="warn">
                        <mat-card-header class="centrarTabla" style="padding-left: 23%;">
                            <div mat-card-avatar class="example-header-image centerlabel"></div>
                            <mat-card-title class="centerlabel centrarTabla">Registro Exitoso</mat-card-title>
                         
                        </mat-card-header>

                        <mat-card-content>
                           
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="warn" [routerLink]="['/Home']">Inicio</button>

                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-3"></div>


            </div>


            <!-- <div>
                <button mat-button matStepperPrevious>Volver</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div> -->
        </mat-step>
    </mat-horizontal-stepper>

</div>