<div class="container">
    <mat-horizontal-stepper [linear]="false" #stepper>

        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Información General</ng-template>
                <div class="row">
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Estado del proyecto</mat-label>
                            <mat-select formControlName="estado" [(ngModel)]="infoProyecto.Status" required>
                                <mat-option *ngFor="let estado of estados" [value]="estado.value">
                                    {{estado.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre del Proyecto</mat-label>
                            <input matInput placeholder="Nombre del Proyecto" formControlName="proyecto"
                                [(ngModel)]="infoProyecto.Nombre" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Donante</mat-label>
                            <input matInput formControlName="Donante" [(ngModel)]="infoProyecto.Donante"
                                placeholder="Donante" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Tipo de Financiación</mat-label>
                            <mat-select formControlName="financiacion" [(ngModel)]="infoProyecto.TipoFinanciacion"
                                required>
                                <mat-option *ngFor="let estado of financiacion" [value]="estado.value">
                                    {{estado.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <mat-divider></mat-divider>

                <div class="row">
                    <div class="col-12 centerlabel font-weight-bold"><label>DATOS CONTACTO</label></div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre del Contacto</mat-label>
                            <input matInput placeholder="Nombre Contacto" formControlName="NombreContacto"
                                [(ngModel)]="infoProyecto.NombreDonante" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Direccion</mat-label>
                            <input matInput placeholder="Direccion" formControlName="Direccion"
                                [(ngModel)]="infoProyecto.Direccion" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput formControlName="email" [(ngModel)]="infoProyecto.Email"
                                placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Telefono</mat-label>
                            <input type="text" matInput formControlName="telefono" [(ngModel)]="infoProyecto.Telefono"
                                placeholder="Telefono" required>
                        </mat-form-field>
                    </div>

                </div>
                <mat-divider></mat-divider>

                <div class="row">
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Líder de Ejecución del Proyecto</mat-label>
                            <input matInput placeholder="Lider Ejecucion" formControlName="LiderEjecucion"
                                [(ngModel)]="infoProyecto.LiderEjecucion" required>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Lider de la Coordinacion del Proyecto</mat-label>
                            <input matInput placeholder="Lider de la Coordinacion" formControlName="LiderCoordinacion"
                                [(ngModel)]="infoProyecto.LiderCoordinacion" required>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Comite Técnico del Proyecto</mat-label>
                            <input matInput formControlName="ComiteTecnico" [(ngModel)]="infoProyecto.ComiteTecnico"
                                placeholder="Comite Tecnico del Proyecto" required>
                        </mat-form-field>
                    </div>

                </div>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col-12 centerlabel font-weight-bold"><label>IMPLEMENTACION</label></div>
                </div>

                <div class="row">
                    <div class="col-3">

                        <mat-form-field appearance="fill">
                            <mat-label>Tipo de Implementación</mat-label>
                            <mat-select formControlName="tipoImplementacion"
                                [(ngModel)]="infoProyecto.TipoImplementacion" required>
                                <mat-option *ngFor="let item of tipoImplementacion" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>



                </div>
                <mat-divider></mat-divider>

                <div class="row">
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Departamentos</mat-label>

                            <mat-select (selectionChange)="cambioDepartamento($event.value)">
                                <mat-option *ngFor="let departamento of Departamentos" [value]="departamento.codigo">
                                    {{departamento.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Municipio</mat-label>

                            <mat-select (selectionChange)="cambioMunicipio($event.value)">
                                <mat-option *ngFor="let municipio of MunicipioSeleccionado" [value]="municipio.codigo"
                                    [disabled]="municipio.activo">
                                    {{municipio.nombre}}

                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <button mat-raised-button [disabled]="AgregarMuni"
                            class="btn mat-focus-indicator btn btn-success pull-right bajar mat-raised-button mat-button-base mat-primary pull-right bajar"
                            color="primary" (click)="agregarMunicipio()" value="Agregar Municipio">Agregar
                            Municipio</button>

                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <table #departamentos mat-table [dataSource]="dataSourcemunicipio"
                            class="mat-elevation-z8  centrarTabla departamento">


                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element ;let i = index;"> {{i+1}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Departamento">
                                <th mat-header-cell *matHeaderCellDef> Departamento </th>
                                <td mat-cell *matCellDef="let element"> {{element.Departamento}}
                                </td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="Municipio">
                                <th mat-header-cell *matHeaderCellDef> Municipio </th>
                                <td mat-cell *matCellDef="let element"> {{element.Municipio}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Quitar">
                                <th mat-header-cell *matHeaderCellDef> Quitar </th>
                                <td mat-cell *matCellDef="let element">
                                    <button type="button" mat-mini-fab color="primary" aria-label="fecha"
                                        (click)="eliminarMunicipio(element)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button> </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumnsDepartamento"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsDepartamento;"></tr>
                        </table>


                    </div>

                </div>

                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col-12 centerlabel font-weight-bold"><label>FECHAS PROYECTO</label></div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Requiere Liquidación</mat-label>
                            <mat-select formControlName="requiere" [(ngModel)]="infoProyecto.Requiere" required>
                                <mat-option *ngFor="let item of requiere" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Fecha de Inicio</mat-label>
                            <input matInput formControlName="fechas" [matDatepicker]="picker"
                                [(ngModel)]="infoProyecto.FechaInicio" ng-keydown="$event.preventDefault();"
                                (dateChange)="Cambio($event)">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-3">

                        <mat-form-field appearance="fill">
                            <mat-label>Fecha de Finalizacion</mat-label>
                            <input matInput formControlName="fechasFin" [matDatepicker]="pickerEnd"
                                ng-keydown="$event.preventDefault();" (dateChange)="Cambio($event)"
                                [min]="infoProyecto.FechaInicio" [(ngModel)]="infoProyecto.FechaFinalizacion">
                            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #pickerEnd></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Tiempo de Ejecucion</mat-label>
                            <input matInput disabled="true" [value]="tiempo">


                        </mat-form-field>
                    </div>
                </div>

                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col-12 centerlabel font-weight-bold"><label>FECHA DE REUNIONES</label></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="row">

                            <div class="col-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha de entrega De informes</mat-label>
                                    <input matInput formControlName="fechas" [matDatepicker]="pickerInformes"
                                        [(ngModel)]="FechaInformes" ng-keydown="$event.preventDefault();"
                                        (dateChange)="CambioInformes($event)">
                                    <mat-datepicker-toggle matSuffix [for]="pickerInformes"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #pickerInformes></mat-datepicker>
                                    <!-- <input type="button" value="Agregar Fecha"/> -->

                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <button mat-raised-button
                                    class="btn mat-focus-indicator btn btn-success pull-right bajar mat-raised-button mat-button-base mat-primary pull-right bajar"
                                    [disabled]="!AgregarInfome" color="primary" (click)="AgregarFechaInforme()">Agregar
                                    Fecha</button>

                            </div>
                        </div>
                        <div class="row">
                            <div class="centrarTabla col-4">


                                <table #informes mat-table [dataSource]="dataSourceInformes"
                                    class="mat-elevation-z8 estirar">


                                    <!-- Position Column -->
                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Fecha">
                                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Fecha |date:['yyyy-MM-dd']}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Quitar">
                                        <th mat-header-cell *matHeaderCellDef> Quitar </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button type="button" mat-mini-fab color="primary" aria-label="fecha"
                                                (click)="eliminarFechaInforme(element)">
                                                <mat-icon>delete_outline</mat-icon>
                                            </button> </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>


                            </div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">

                            <div class="col-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha de reuniones de Comite</mat-label>
                                    <input matInput formControlName="fechas" [matDatepicker]="pickerreunionComite"
                                        [(ngModel)]="FechaComite" ng-keydown="$event.preventDefault();"
                                        (dateChange)="CambioComite($event)">
                                    <mat-datepicker-toggle matSuffix [for]="pickerreunionComite">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker touchUi #pickerreunionComite></mat-datepicker>
                                    <!-- <input type="button" value="Agregar Fecha"/> -->

                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <button mat-raised-button
                                    class="btn mat-focus-indicator btn btn-success pull-right bajar mat-raised-button mat-button-base mat-primary pull-right bajar"
                                    [disabled]="!agregarComite" color="primary" (click)="agregarFechaComite()">Agregar
                                    Fecha</button>

                            </div>
                        </div>
                        <div class="row">
                            <div class="centrarTabla col-4">


                                <table #reuniones mat-table [dataSource]="dataSourceComites"
                                    class="mat-elevation-z8 estirar">


                                    <!-- Position Column -->
                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Fecha">
                                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Fecha |date:['yyyy-MM-dd']}}
                                        </td>
                                    </ng-container>
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Quitar">
                                        <th mat-header-cell *matHeaderCellDef> Quitar </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button type="button" mat-mini-fab color="primary" aria-label="fecha"
                                                (click)="eliminarfechaComite(element)">
                                                <mat-icon>delete_outline</mat-icon>
                                            </button> </td>
                                    </ng-container>




                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>


                            </div>

                        </div>
                    </div>
                </div>


                <mat-divider>

                </mat-divider>

                <div>
                    <!-- <button mat-raised-button color="warn"  [disabled]="validarNextPantalla_1" (click)="onGuardar()">Guardar</button>
                 -->
                    <button mat-raised-button color="warn" matStepperNext
                        [disabled]="(!validarNextPantalla_1  && !this.firstFormGroup.invalid)? false: true">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">

                <ng-template matStepLabel>Información Financiera</ng-template>
                <div class="row">

                    <div class="col-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Costo Total Del Proyecto</mat-label>

                            <input matInput placeholder="Costo Total " formControlName="CostoTotal"
                                [(ngModel)]="infoFinanciera.CostoTotal" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 centerlabel font-weight-bold"><label>PRESUPUESTO POR FUENTES</label></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Fuente Presupuesto</mat-label>
                            <mat-select formControlName="Fuente" [(ngModel)]="infoFinanciera.FuentePresupuesto"
                                required>
                                <mat-option *ngFor="let item of Fuente" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Tipo Fuente</mat-label>
                            <mat-select formControlName="TipoFuente" [(ngModel)]="infoFinanciera.TipoFuente" required>
                                <mat-option *ngFor="let item of TipoFuente" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Tasa de Cambio Pactada</mat-label>
                            <input matInput formControlName="TasaCambio" [(ngModel)]="infoFinanciera.TasaCambio"
                                required />

                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Cuenta a la que llegan los fondos</mat-label>


                            <input matInput placeholder="Cuenta a la que llegan los fondos" formControlName="Cuenta"
                                [(ngModel)]="infoFinanciera.Cuenta" required />

                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Centro de Costos</mat-label>
                            <mat-select formControlName="CentroCosto" [(ngModel)]="infoFinanciera.CentroCostos"
                                (selectionChange)="cambioCentroCosto($event.value)" required>
                                <mat-option *ngFor="let item of centrosCostos" [value]="item.codigoCentro">
                                    {{item.nombre}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Sub Centro de Costos </mat-label>
                            <mat-select formControlName="SubCentroCosto" [(ngModel)]="infoFinanciera.SubCentro"
                                required>
                                <mat-option *ngFor="let item of subCentroSeleccionado" [value]="item.codigoSubCentro">
                                    {{item.nombre}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Navision/ Facility</mat-label>
                            <input matInput formControlName="Navision" [(ngModel)]="infoFinanciera.NavisionFacilitiy"
                                required />

                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div >
                        <div class="row">

                            <div class="col-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha de Desembolsos</mat-label>
                                    <input matInput formControlName="fechas" [matDatepicker]="pickerDesembolso"
                                        [(ngModel)]="FechaDesembolso" ng-keydown="$event.preventDefault();"
                                        (dateChange)="cambioDesembolso($event)">
                                    <mat-datepicker-toggle matSuffix [for]="pickerDesembolso">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker touchUi #pickerDesembolso></mat-datepicker>
                                    <!-- <input type="button" value="Agregar Fecha"/> -->

                                </mat-form-field>
                            </div>
                            <div class="col-3" style="padding-right: 30px;">
                                <button mat-raised-button
                                    class="btn mat-focus-indicator btn btn-success pull-right bajar mat-raised-button mat-button-base mat-primary pull-right bajar"
                                    [disabled]="!AgregarDesembolso" color="primary"
                                    (click)="agregarFechaDesembolso()">Agregar
                                    Fecha</button>

                            </div>
                            <div class="centrarTabla col-5" style="padding-left: 10px;">


                                <table #desebolsos mat-table [dataSource]="dataSourceDesembolsos"
                                    class="mat-elevation-z8 estirar">


                                    <!-- Position Column -->
                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Fecha">
                                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Fecha |date:['yyyy-MM-dd']}}
                                        </td>
                                    </ng-container>
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Quitar">
                                        <th mat-header-cell *matHeaderCellDef> Quitar </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button type="button" mat-mini-fab color="primary" aria-label="fecha"
                                                (click)="eliminarDesembolso(element)">
                                                <mat-icon>delete_outline</mat-icon>
                                            </button> </td>
                                    </ng-container>




                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>


                            </div>
                        </div>
                       
                    </div>
                </div>
                <mat-divider></mat-divider>


                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Participantes Proyectados</ng-template>
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="thirdCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
     <button mat-raised-button color="warn" 
     (click)="onGuardar()">Guardar</button>
    
</div>