form mat-step{
    padding-top: 20px !important;
}

form {
    padding-top: 20px !important;

}

mat-form-field {
 padding-right: 10px;   
}

div.row{
    padding-top: 10px;
}

.bajar{
    margin-top: 10px;
}
.centrarTabla{
    float: none; margin: 0 auto;
}
.estirar
{
    
width: 200%;
}
.mat-form-field {
    width: 100%;
}
.centerlabel{
    text-align: center;
    
}