<div class="container">


  <mat-tab-group>
    <mat-tab label="Proyecto" style="width: 100%;">
      <mat-card class="example-card" *ngIf="itemProyecto!=null">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url('assets/avatars/av-1.png')"></div>
          <mat-card-title>Nombre: {{itemProyecto.nombre}}</mat-card-title>
          <mat-card-subtitle>Estado: {{itemProyecto.status}}</mat-card-subtitle>
          <mat-card-subtitle>Donante: {{itemProyecto.donante}}</mat-card-subtitle>
          <mat-card-subtitle>Fecha Inicio: {{itemProyecto.fecha_inicio}}</mat-card-subtitle>
          <mat-card-subtitle>Fecha Finalización: {{itemProyecto.fecha_finalizacion}}</mat-card-subtitle>

          <mat-card-subtitle>Requiere Liquidación: {{itemProyecto.requiereLiquidacion==true?"SI":"NO"}}
          </mat-card-subtitle>
          <mat-card-subtitle>Tipo de implementación: {{itemProyecto.tipo_implementacion}}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="250px">
            <mat-grid-tile>
              <table width="100%" border="0">
                <tr>
                  <td>
                    <mat-label class="descripcion">
                      Tipo Financiación:
                    </mat-label>
                  </td>
                  <td>
                    <mat-label class="descripcionTexto">
                      {{itemProyecto.tipo_financiacion}}
                    </mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-label class="descripcion">
                      Donante:
                    </mat-label>
                  </td>
                  <td>
                    <mat-label class="descripcionTexto">
                      {{itemProyecto.donante}}
                    </mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-label class="descripcion">
                      Nombre Donante:
                    </mat-label>
                  </td>
                  <td>
                    <mat-label class="descripcionTexto">
                      {{itemProyecto.nombre_donante}}
                    </mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-label class="descripcion">
                      Dirección
                    </mat-label>
                  </td>
                  <td>
                    <mat-label class="descripcionTexto">
                      {{itemProyecto.direccion}}
                    </mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-label class="descripcion">
                      email:
                    </mat-label>
                  </td>
                  <td>
                    <mat-label class="descripcionTexto">
                      {{itemProyecto.email}}
                    </mat-label>
                  </td>
                </tr>
              </table>

            </mat-grid-tile>

            <mat-grid-tile>
              <table width="100%" border="0">
                <tr>
                  <td>
                    <mat-label class="descripcion">
                     Teléfono:
                    </mat-label>
                  </td>
                  <td>
                    <mat-label class="descripcionTexto">
                      {{itemProyecto.telefono}}
                    </mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-label class="descripcion">
                      Lider Ejecución:
                    </mat-label>
                  </td>
                  <td>
                    <mat-label class="descripcionTexto">
                      {{itemProyecto.lider_ejecucion}}
                    </mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-label class="descripcion">
                      Lider Coordinacion:
                    </mat-label>
                  </td>
                  <td>
                    <mat-label class="descripcionTexto">
                      {{itemProyecto.lider_coordinacion}}
                    </mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-label class="descripcion">
                      Comite Tecnico :
                    </mat-label>
                  </td>
                  <td>
                    <mat-label class="descripcionTexto">
                      {{itemProyecto.comite_tecnico}}
                    </mat-label>
                  </td>
                </tr>
              </table>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
        <mat-card-actions>
          <div class="row">


            <div class="col-12" style="text-align: center;">
                <button type="button" (click)="ActualizarItemProyecto()"mat-raised-button color="primary">
                    <mat-icon>cached</mat-icon>
                </button>
            </div>
        </div>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab label="Info. Finan">
      <mat-card class="example-card" *ngIf="itemFinanciera!=null">
        <mat-card-header>
          
          <div mat-card-avatar class="example-header-image" style="background-image: url('assets/avatars/av-1.png')"></div>
          <mat-card-title>Costo Total: ${{itemFinanciera.costoTotal | number}}</mat-card-title>
          <mat-card-subtitle>Contrapartida: {{itemFinanciera.fuente}}</mat-card-subtitle>
          <mat-card-subtitle>Contrapartida: {{itemFinanciera.plataContrapartida}}</mat-card-subtitle>
          <mat-card-subtitle>Aporte Donante: {{itemFinanciera.tipoFuente}}</mat-card-subtitle>
          <mat-card-subtitle>Aporte Donante: {{itemFinanciera.plataDonante}}</mat-card-subtitle>
          <mat-card-subtitle>Moneda Donación: {{itemFinanciera.monedaDonacion}}</mat-card-subtitle>
          <mat-card-subtitle>Tasa de Cambio: {{itemFinanciera.tasacambio}}</mat-card-subtitle>
          <mat-card-subtitle>Cuenta: {{itemFinanciera.cuenta}}</mat-card-subtitle>
          <mat-card-subtitle>Navision: {{itemFinanciera.navision}}</mat-card-subtitle>
          <mat-card-subtitle>Responsable: {{itemFinanciera.responsable}}</mat-card-subtitle>
          <mat-card-subtitle>Lugar: {{itemFinanciera.lugar}}</mat-card-subtitle>

        </mat-card-header>
        <mat-card-actions>
          <div class="row">


            <div class="col-12" style="text-align: center;">
                <button type="button" (click)="ActualizarItemInfoFinanciera()" mat-raised-button color="primary">
                    <mat-icon>cached</mat-icon>
                </button>
            </div>
        </div>
        </mat-card-actions>
        <mat-card-content>
          <div class="row">


            <div class="table-responsive" *ngIf="itemsEjecucion!=null">
              <!-- <div class="table-responsive"> -->
                <table id="customers"  mat-table [dataSource]="itemsEjecucion" class="mat-elevation-z8 ajuste">


                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="1">
                  <th mat-header-cell *matHeaderCellDef> 1 </th>
                  <td mat-cell *matCellDef="let element; let i  = index">
                    <!-- <ng-template viewMode> -->

                    <input matInput type="number" [(ngModel)]="element.enero">

                  </td>
                </ng-container>
                <ng-container matColumnDef="2">
                  <th mat-header-cell *matHeaderCellDef> 2 </th>
                  <td mat-cell *matCellDef="let element; let i  = index">


                    <input matInput type="number" [(ngModel)]="element.febrero">

                  </td>
                </ng-container>
                <ng-container matColumnDef="3">
                  <th mat-header-cell *matHeaderCellDef> 3 </th>
                  <td mat-cell *matCellDef="let element; let i  = index">


                    <input matInput type="number" [(ngModel)]="element.marzo">

                  </td>
                </ng-container>

                <ng-container matColumnDef="4">
                  <th mat-header-cell *matHeaderCellDef> 4 </th>
                  <td mat-cell *matCellDef="let element; let i  = index">


                    <input matInput type="number" [(ngModel)]="element.abril">

                  </td>
                </ng-container>

                <ng-container matColumnDef="5">
                  <th mat-header-cell *matHeaderCellDef> 5 </th>
                  <td mat-cell *matCellDef="let element; let i  = index">


                    <input matInput type="number" [(ngModel)]="element.mayo">
                  </td>
                </ng-container>

                <ng-container matColumnDef="6">
                  <th mat-header-cell *matHeaderCellDef> 6 </th>
                  <td mat-cell *matCellDef="let element; let i  = index">


                    <input matInput type="number" [(ngModel)]="element.junio">

                  </td>
                </ng-container>
                <mat-divider></mat-divider>
                <ng-container matColumnDef="7">
                  <th mat-header-cell *matHeaderCellDef> 7 </th>
                  <td mat-cell *matCellDef="let element; let i  = index">


                    <input matInput type="number" [(ngModel)]="element.julio">

                  </td>
                </ng-container>
                <ng-container matColumnDef="8">
                  <th mat-header-cell *matHeaderCellDef> 8 </th>
                  <td mat-cell *matCellDef="let element; let i  = index">


                    <input matInput type="number" [(ngModel)]="element.agosto">

                  </td>
                </ng-container>
                <ng-container matColumnDef="9">
                  <th mat-header-cell *matHeaderCellDef> 9 </th>
                  <td mat-cell *matCellDef="let element; let i  = index">


                    <input matInput type="number" [(ngModel)]="element.sept">
                  </td>
                </ng-container>
                <ng-container matColumnDef="10">
                  <th mat-header-cell *matHeaderCellDef> 10 </th>
                  <td mat-cell *matCellDef="let element; let i  = index">


                    <input matInput type="number" [(ngModel)]="element.octubre">

                  </td>
                </ng-container>
                <ng-container matColumnDef="11">
                  <th mat-header-cell *matHeaderCellDef> 11 </th>
                  <td mat-cell *matCellDef="let element; let i  = index">


                    <input matInput type="number" [(ngModel)]="element.noviembre">

                  </td>
                </ng-container>

                <ng-container matColumnDef="12">
                  <th mat-header-cell *matHeaderCellDef> 12 </th>
                  <td mat-cell *matCellDef="let element; let i  = index">


                    <input matInput type="number" [(ngModel)]="element.diciembre">

                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsPROYECTO"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsPROYECTO;"></tr>
              </table>


            </div>
            
          </div>
          <div class="row">


            <div class="col-12" style="text-align: center;">
                <button type="button" (click)="ActualizarEjecucion()"mat-raised-button color="primary">
                    <mat-icon>cached</mat-icon>
                </button>
            </div>
          </div>




        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Fechas">
      <mat-tab-group (selectedTabChange)="cambioTab($event)">
        <mat-tab label="COMITES"> COMITES

          <app-listafechas *ngIf="fechas.length>0" [fechas]="fechas" filtro="COMITES"></app-listafechas>
        </mat-tab>
        <mat-tab label="INFORMES"> INFORMES

          <app-listafechas *ngIf="fechas.length>0" [fechas]="fechas" filtro="INFORMES"></app-listafechas>
        </mat-tab>
        <mat-tab label="FECHAS DESEMBOLSO"> FECHAS DESEMBOLSO

          <app-listafechas *ngIf="fechas.length>0" [fechas]="fechas" filtro="FECHAS DESEMBOLSO"></app-listafechas>
        </mat-tab>
        <mat-tab label="VISITAS"> FECHAS DESEMBOLSO

          <app-listafechas *ngIf="fechas.length>0" [fechas]="fechas" filtro="VISITAS"></app-listafechas>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>


    <mat-tab label="Participantes">

      <mat-card class="example-card" *ngIf="itemProyectados!=null">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Participantes Proyecto</mat-card-title>
          <mat-card-subtitle>Total Familias: {{itemProyectados.totalFamilias}}</mat-card-subtitle>

        </mat-card-header>

        <mat-card-content>
          <p>
            Observaciones {{itemProyectados.observaciones}}
          </p>
        </mat-card-content>
      </mat-card>
 

        <div class="table-responsive">
          <table id="customers" #participantesTable mat-table [dataSource]="participantes" class="mat-elevation-z8 participantes">


            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="0 - 5 Años">
              <th mat-header-cell *matHeaderCellDef> 0 - 5 Años </th>
              <td mat-cell *matCellDef="let element; let i  = index">

                <input matInput type="number" [(ngModel)]="element.rango_0_5">

              </td>
            </ng-container>
            <ng-container matColumnDef="6 - 12 años">
              <th mat-header-cell *matHeaderCellDef> 6 - 12 años </th>
              <td mat-cell *matCellDef="let element; let i  = index">


                <input matInput type="number" [(ngModel)]="element.rango_6_12">

              </td>
            </ng-container>
            <ng-container matColumnDef="13 - 15 años">
              <th mat-header-cell *matHeaderCellDef> 13 - 17 años </th>
              <td mat-cell *matCellDef="let element; let i  = index">


                <input matInput type="number" [(ngModel)]="element.rango_13_17">

              </td>
            </ng-container>

            <ng-container matColumnDef="18 - 24 años">
              <th mat-header-cell *matHeaderCellDef> 18 - 24 años </th>
              <td mat-cell *matCellDef="let element; let i  = index">


                <input matInput type="number" [(ngModel)]="element.rango_18_24">

              </td>
            </ng-container>

            <ng-container matColumnDef="25 - 56 años">
              <th mat-header-cell *matHeaderCellDef> 25 - 56 años </th>
              <td mat-cell *matCellDef="let element; let i  = index">


                <input matInput type="number" [(ngModel)]="element.rango_25_56">
              </td>
            </ng-container>

            <ng-container matColumnDef="Mayores de 60 años">
              <th mat-header-cell *matHeaderCellDef> Mayores de 60 años </th>
              <td mat-cell *matCellDef="let element; let i  = index">


                <input matInput type="number" [(ngModel)]="element.mayores_60">
              </td>
            </ng-container>

            <ng-container matColumnDef="Total">
              <th mat-header-cell *matHeaderCellDef> TOTAL </th>
              <td mat-cell *matCellDef="let element; let i  = index">

                <input matInput disabled type="number" [(ngModel)]="element.total">
              </td>
            </ng-container>
            <ng-container matColumnDef="TotalDesagregado">
              <th mat-header-cell *matHeaderCellDef> TOTAL DESAGREGADO </th>
              <td mat-cell *matCellDef="let element; let i  = index">


                <input matInput type="number" [(ngModel)]="element.totalDesagregado">
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsParticipante"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsParticipante;"></tr>
          </table>


        </div>




    
    </mat-tab>

    <mat-tab label="CeCos">
      <div *ngIf="itemsCentroCostos!=null && itemsCentroCostos.length>=1">

    
        <app-cecosedit [(dataSource)]="itemsCentroCostos"     (valid)='onNotificar($event)'></app-cecosedit>
      </div>
    </mat-tab>

    <mat-tab label="Departamentos">
      <div *ngIf="itemsMunicipios!=null && itemsMunicipios.length>=1">


        <app-municipiosedit [(dataSource)]="itemsMunicipios"></app-municipiosedit>
      </div>
    </mat-tab>
  </mat-tab-group>


</div>