<mat-card class="example-card" *ngIf="programa">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Programa: {{programa.nombre | uppercase}}</mat-card-title>
    <mat-card-subtitle>Lista de Presupuesto</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <button type="button" mat-mini-fab class="buttton-aldea" aria-label="fecha"
      (click)="AbrirCrearPresupuesto(programa)">
      <mat-icon>open_in_new</mat-icon>
    </button>


    <div class="mat-elevation-z8  table-responsive">
      <table id="customers" mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="anio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Año </th>
          <td mat-cell *matCellDef="let row"> {{row.anio}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="nombrePrograma">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Programa </th>
          <td mat-cell *matCellDef="let row"> {{row.nombrePrograma}} </td>
        </ng-container>
        <ng-container matColumnDef="tipoPrograma">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Programa</th>
          <td mat-cell *matCellDef="let row"> {{row.tipoPrograma }} </td>
        </ng-container>


        <ng-container matColumnDef="Cobertura">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cobertura </th>
          <td mat-cell *matCellDef="let row"> {{row.cobertura===true? "COBERTURA":"SIN COBERTURA"}} </td>
        </ng-container>

     

        <ng-container matColumnDef="numeroVersion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Version # </th>
          <td mat-cell *matCellDef="let row"> {{row.numeroVersion |number}} </td>
        </ng-container>

       
        <ng-container matColumnDef="Ver">
          <th mat-header-cell *matHeaderCellDef> Ver Presupuesto </th>
          <td mat-cell *matCellDef="let element">
            <button type="button" mat-mini-fab class="buttton-aldea" aria-label="fecha"
              [routerLink]="['/VerDetallePresupuesto/', element.id]">
              <mat-icon>open_in_new</mat-icon>
            </button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]"></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>