<div class="container alternate-theme">
    <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step>
            <ng-template matStepLabel>Colaboradores</ng-template>
            <mat-card class="example-card">
                <mat-card-header>


                </mat-card-header>
                <mat-card-content>
                    <div class="table-responsive">
                        <table id="customers" matTableExporter mat-table [dataSource]="dataSource"
                            class="mat-elevation-z8">
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                                <td mat-cell *matCellDef="let element"> {{element.nombre |uppercase}} </td>
                            </ng-container>

                            <ng-container matColumnDef="fechaNacimiento">
                                <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.fechaNacimiento }} </td>
                            </ng-container>
                            <ng-container matColumnDef="cargo">
                                <th mat-header-cell *matHeaderCellDef> Cargo </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.cargo | uppercase }} </td>
                            </ng-container>
                            <ng-container matColumnDef="tipoContrato">
                                <th mat-header-cell *matHeaderCellDef> Tipo Contrato </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.tipoContrato | uppercase }} </td>
                            </ng-container>
                            <ng-container matColumnDef="fechaInicio">
                                <th mat-header-cell *matHeaderCellDef> Fecha Inicio</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.fechaInicio | uppercase }} </td>
                            </ng-container>

                            <ng-container matColumnDef="fechaFin">
                                <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.fechaFin | uppercase }} </td>
                            </ng-container>

                            <ng-container matColumnDef="detalle">
                                <th mat-header-cell *matHeaderCellDef> Detalle</th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-raised-button color="primary" id="logout-button"
                                        class="btn btn-primary btn-block" style="width:50%" (click)="Ver(element)">
                                        <mat-icon>face</mat-icon>
                                    </button>

                                </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Detalle Colaboradores</ng-template>

            <mat-card *ngIf="seleccionado!=null">

                <mat-card-content>

                    <mat-grid-list cols="2" rowHeight="250px">

                        <mat-grid-tile>
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"
                                    style="background-image: url('assets/avatars/av-1.png')"></div>

                                <mat-card-title>
                                    Nombre: {{seleccionado.nombre |uppercase}}
                                </mat-card-title>
                                <mat-card-subtitle>
                                    Fecha Nacimiento: {{seleccionado.fechaNacimiento}}
                                </mat-card-subtitle>
                                <mat-card-subtitle>
                                    Cargo: {{seleccionado.cargo}}
                                </mat-card-subtitle>
                            </mat-card-header>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <table width="100%" border="0">
                                <tr>
                                    <td>
                                        <mat-label class="descripcion">
                                            Fecha Inicio
                                        </mat-label>
                                    </td>
                                    <td>
                                        <mat-label class="descripcionTexto">
                                            {{seleccionado.fechaInicio}}
                                        </mat-label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-label class="descripcion">
                                            Fecha Fin
                                        </mat-label>
                                    </td>
                                    <td>
                                        <mat-label class="descripcionTexto">
                                            {{seleccionado.fechaFin}}
                                        </mat-label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-label class="descripcion">
                                            Costo mensual
                                        </mat-label>
                                    </td>
                                    <td>
                                        <mat-label class="descripcionTexto">
                                            {{seleccionado.costoMensual}}
                                        </mat-label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-label class="descripcion">
                                            Porcentaje
                                        </mat-label>
                                    </td>
                                    <td>
                                        <mat-label class="descripcionTexto">
                                            {{seleccionado.porcentaje}}
                                        </mat-label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-label class="descripcion">
                                            Contrapartida
                                        </mat-label>
                                    </td>
                                    <td>
                                        <mat-label class="descripcionTexto">
                                            {{seleccionado.contrapartida}}
                                        </mat-label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-label class="descripcion">
                                            Aporte
                                        </mat-label>
                                    </td>
                                    <td>
                                        <mat-label class="descripcionTexto">
                                            {{seleccionado.aporte}}
                                        </mat-label>
                                    </td>
                                </tr>

                            </table>

                        </mat-grid-tile>




                    </mat-grid-list>

                    <div class="row">
                        <div class="table-responsive">
                            <table id="customers" #Integrantes mat-table [dataSource]="itemsCentroCosto"
                                class="mat-elevation-z8 participantes">



                                <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef> No. </th>
                                    <td mat-cell *matCellDef="let element; let i  = index"> {{i +1 }} </td>
                                </ng-container>


                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef>Centro de Costo</th>
                                    <td mat-cell *matCellDef="let element; let i  = index">

                                        <mat-label>{{element.codigo}}</mat-label>
                                        <!-- <mat-form-field> -->
                                        <!-- <input matInput type="number" [(ngModel)]="element.codigo"> -->
                                        <!-- </mat-form-field> -->
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsCecos"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsCecos;"></tr>
                            </table>


                        </div>
                    </div>


                </mat-card-content>
            </mat-card>
            <div class="col-12">
                <button type="button" matStepperPrevious mat-raised-button color="primary">Atras</button>

            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>