<mat-horizontal-stepper [linear]="true" #stepper>

    <mat-step [stepControl]="firstFormGroup">

        <form [formGroup]="firstFormGroup">

            <ng-template matStepLabel>Ver indicadores de Indicadores</ng-template>
            <div class="row">
                <div class="col-12 main-green-text"><label>Ver Indicadores Participante</label></div>
            </div>
            <!--Fechas-->
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Proyecto</mat-label>

                        <mat-select formControlName="Proyecto" (selectionChange)="obtenerPartipantes($event.value)">
                            <mat-option *ngFor="let proyecto of proyectos" [value]="proyecto.codigo" required>
                                {{proyecto.codigo + ' - '+ proyecto.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Participantes</mat-label>

                        <mat-select formControlName="participante" (selectionChange)="traerIndicador($event.value)">
                            <mat-option *ngFor="let participante of participantes" [value]="participante.id" required>
                                {{participante.id + ' - ' + participante.nombres + ' - ' + participante.apellidos}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Atención</mat-label>
                        <mat-select formControlName="atencion" required
                            (selectionChange)="TraerRespuestas($event.value)">

                            <mat-option *ngFor="let indicador of atencion" [value]="indicador.id" required>
                                {{indicador.nombreIndicador | uppercase}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Indicador</mat-label>

                        <mat-select formControlName="indicador" (selectionChange)="MostrarRespuestas($event.value)">
                            <mat-option color="primary" *ngFor="let indicador of  indicadores; let  i= index"
                                [value]="indicador.id" required>
                                {{(i+1) +' - '+ indicador.indicador}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


            </div>







            <mat-grid-list [cols]="rcols" rowHeight="120px">


                <mat-grid-tile *ngFor="let respuesta of respuestasSeleccionadas" colspan="1" rowspan="2">

                    <mat-grid-tile-header>

                        <mat-label>{{respuesta.pregunta}}</mat-label>

                    </mat-grid-tile-header>


                    <div *ngIf="respuesta.tipoPregunta==1">


                        <ul>
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                [value]="respuesta.respuestaSiNO==true? 'SI':'NO'">
                                <li class="break-word">

                                    <mat-radio-button value="SI" disabled>
                                        <span class="break-word"> SI</span>

                                    </mat-radio-button>

                                </li>
                                <li>
                                    <mat-radio-button value="NO" disabled>
                                        <span class="break-word"> NO</span>

                                    </mat-radio-button>

                                </li>



                            </mat-radio-group>
                        </ul>
                    </div>

                    <div *ngIf="respuesta.tipoPregunta==2">

                        <mat-label *ngIf="respuesta.esOtro==true">{{respuesta.respuestaOTRA}}</mat-label>
                        <mat-label *ngIf="respuesta.esOtro==false">{{respuesta.valorOtra}}</mat-label>


                    </div>
                </mat-grid-tile>
            </mat-grid-list>

        </form>

    </mat-step>



</mat-horizontal-stepper>