<body>
  <!-- <app-nav-menu></app-nav-menu> -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/Home']">
      <mat-icon>home</mat-icon>
      <span>Home </span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="usuarios"  *ngIf="(userType =='ADMINISTRADOR')">
      <mat-icon>admin_panel_settings</mat-icon> <span>Usuarios</span>
    </button>

    <button mat-menu-item [matMenuTriggerFor]="configuracion">
      <mat-icon>handyman</mat-icon> <span>Datos Básicos</span>
    </button>

    <button mat-menu-item [matMenuTriggerFor]="categoria">
      <mat-icon>build</mat-icon> <span>Configuración Categorias</span>
    </button>

    <button mat-menu-item [matMenuTriggerFor]="programa">
      <mat-icon>assignment</mat-icon>
      <span>Programas</span>
    </button>
  
    <button mat-menu-item [matMenuTriggerFor]="gestionPresupuesto">
      <mat-icon>corporate_fare</mat-icon> <span>Gestión Presupuesto</span>
    </button>



  </mat-menu>
  <mat-menu #gestionPresupuesto="matMenu">


    <button mat-menu-item [routerLink]="['/GestionProgramas']">
      <mat-icon>assignment_turned_in</mat-icon>
      <span>Programas Asociados</span>
    </button>
    <button mat-menu-item [routerLink]="['/VolverOtraVersion']" *ngIf="Editar">
      <mat-icon>history</mat-icon>
      <span>Versión Presupuesto</span>
    </button>


  </mat-menu>
  <mat-menu #programa="matMenu">
    <button mat-menu-item [routerLink]="['/CrearPrograma']" *ngIf="Editar">
      <mat-icon>add</mat-icon>
      <span>Crear</span>
    </button>
    <button mat-menu-item [routerLink]="['/TipoProgramas']">
      <mat-icon>assignment</mat-icon>
      <span>Tipo de Programas</span>
    </button>
    <button mat-menu-item [routerLink]="['/OnlyProgramas']">
      <mat-icon>article</mat-icon>
      <span>Programas</span>
    </button>
    <button mat-menu-item [routerLink]="['/Programas']" >
      <mat-icon>assignment</mat-icon>
      <span>Programas/Cecos</span>
    </button>

  </mat-menu>
  <mat-menu #usuarios="matMenu">


    <button mat-menu-item [routerLink]="['/VerUsuarios']">
      <mat-icon>people</mat-icon>
      <span>Lista</span>
    </button>
    <button mat-menu-item [routerLink]="['/AgregarUsuario']">
      <mat-icon>person_add_alt_1</mat-icon>
      <span>Agregar</span>
    </button>


  </mat-menu>

  <mat-menu #categoria="matMenu">


    <button mat-menu-item [routerLink]="['/OnlyCategorias']">
      <mat-icon>category</mat-icon>
      <span>Categorias</span>
    </button>

    <button mat-menu-item [routerLink]="['/CrearCategoria']" *ngIf="Editar">
      <mat-icon>addchart</mat-icon>
      <span>Crear Categoria</span>
    </button>
    <button mat-menu-item [routerLink]="['/CategoriasPucs']">
      <mat-icon>compare_arrows</mat-icon>
      <span>Categorias /Pucs</span>
    </button>

  </mat-menu>
  <mat-menu #configuracion="matMenu">
    <button mat-menu-item [routerLink]="['/Cargos']">
      <mat-icon>face</mat-icon>
      <span>Cargos</span>
    </button>
    <button mat-menu-item [routerLink]="['/Financiadores']">
      <mat-icon>attach_money</mat-icon>
      <span>Financiadores</span>
    </button>
   


  </mat-menu>
  <div class="container" style="max-width: 1260px;">
    <app-heaader></app-heaader>

    <mat-toolbar color="main-green-toolbar" class="main-green-toolbar" *ngIf="currentUser!= null">
      <!-- <button   [routerLink]="['/Home']" mat-icon-button class="menuButton" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->

      <button [matMenuTriggerFor]="menu" mat-icon-button class="main-green-toolbar">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="color: white;">Bienvenido {{currentUser.displayName}}</span>
      <span style="color: white;" class="example-spacer"></span>

      <div> <a style="color: white;" [routerLink]="['logout/1']">Salir</a></div>

    </mat-toolbar>



    <router-outlet>
      <button  *ngIf="currentUser!= null" mat-mat-raised-button class="btn  buttton-aldea btn-success pull-right"
      (click)="backClicked()"><mat-icon>keyboard_backspace</mat-icon></button>
    </router-outlet>
  </div>
</body>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
size="large" color="#fff" type="ball-atom" [fullScreen]="true">
 <p style="color: white"> Estamos procesando tu solicitud </p>
</ngx-spinner>