<body>
  <!-- <app-nav-menu></app-nav-menu> -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/Home']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="configuracion">
      <mat-icon>handyman</mat-icon> <span>Presupuesto</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="usuarios">
      <mat-icon>handyman</mat-icon> <span>Usuarios</span>
    </button>



  </mat-menu>
  <mat-menu #usuarios="matMenu">

  
    <button mat-menu-item [routerLink]="['/VerUsuarios']">
      <mat-icon>people</mat-icon>
      <span>Lista</span>
    </button>
    <button mat-menu-item [routerLink]="['/AgregarUsuario']">
      <mat-icon>person_add_alt_1</mat-icon>
      <span>Agregar</span>
    </button>
  
 
  </mat-menu>
  <mat-menu #configuracion="matMenu">

    <button mat-menu-item [routerLink]="['/TipoProgramas']">
      <mat-icon>dashboard</mat-icon>
      <span>Tipo de Programas</span>
    </button>
    <button mat-menu-item [routerLink]="['/OnlyProgramas']">
      <mat-icon>dashboard</mat-icon>
      <span>Programas</span>
    </button>
    <button mat-menu-item [routerLink]="['/Programas']">
      <mat-icon>dashboard</mat-icon>
      <span>Programas/Cecos</span>
    </button>

    <button mat-menu-item [routerLink]="['/OnlyCategorias']">
      <mat-icon>dashboard</mat-icon>
      <span>Categorias</span>
    </button>
    <button mat-menu-item [routerLink]="['/CategoriasPucs']">
      <mat-icon>dashboard</mat-icon>
      <span>Categorias /Pucs</span>
    </button>
 
  </mat-menu>
  <div class="container">
    <app-heaader></app-heaader>

    <mat-toolbar color="main-green-toolbar" class="main-green-toolbar" *ngIf="currentUser!= null">
      <!-- <button   [routerLink]="['/Home']" mat-icon-button class="menuButton" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->

      <button [matMenuTriggerFor]="menu" mat-icon-button  class="main-green-toolbar">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="color: white;">Bienvenido {{currentUser.displayName}}</span>
      <span style="color: white;" class="example-spacer"></span>

      <div> <a style="color: white;" [routerLink]="['logout/1']">Salir</a></div>

    </mat-toolbar>



    <router-outlet></router-outlet>
  </div>
</body>