<div class="container" *ngIf="pucActualizar">

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image" style="background-image: url('assets/avatars/av-2.png')"></div>
            <mat-card-title class="main-green-text">Agregar Puc a la Categoria: {{categoria.nombre}} </mat-card-title>
            <mat-card-subtitle>Actualización - PUC</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

            <form [formGroup]="formgroup">

                <div class="row">

                    <div class="col-6 tabla">
                        <mat-form-field appearance="fill">
                            <mat-label>Cuenta SIIGO</mat-label>
                            <input matInput placeholder="Nueva Cuenta SIIGO"
                             [(ngModel)]="pucActualizar.cuentaSIIGO"
                                formControlName="cuentaSIIGO" required>
                        </mat-form-field>
                    </div>
                    <div class="col-6 tabla">
                        <mat-form-field appearance="fill">
                            <mat-label>Descripcion cuenta</mat-label>
                            <input matInput placeholder="Nueva Cuenta SIIGO"
                             [(ngModel)]="pucActualizar.descripcionCuenta"
                                formControlName="descripcionCuenta" required>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">

                    <div class="col-6 tabla">
                        <mat-form-field appearance="fill">
                            <mat-label>Cuenta NAV</mat-label>
                            <input matInput placeholder="Nueva Cuenta NAV" 
                            [(ngModel)]="pucActualizar.cuentaNAV"
                                formControlName="cuentaNAV" required>
                        </mat-form-field>
                    </div>
                    <div class="col-6 tabla">
                        <mat-form-field appearance="fill">
                            <mat-label>Descripcion cuenta NAV</mat-label>
                            <input matInput placeholder="Nueva Cuenta SIIGO"
                             [(ngModel)]="pucActualizar.detalleCuentaNav"
                                formControlName="detalleCuentaNav" required>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">


                 <div class="col-6 tabla">
                        <mat-form-field appearance="fill">
                            <mat-label>Ficha Banco</mat-label>
                            <input matInput placeholder="Nueva Ficha Banco"
                             [(ngModel)]="pucActualizar.fichaBanco"
                                formControlName="fichaBanco">
                        </mat-form-field>
                    </div> 
             
                    <div class="col-6 tabla">
                        <mat-form-field appearance="fill">
                            <mat-label>Casa</mat-label>
                            <input matInput type="number" placeholder="Nuevo Casa" [(ngModel)]="pucActualizar.casa"
                                formControlName="casa" >
                        </mat-form-field>
                    </div>

                </div>
            </form>

            <div class="row">


                <div class="col-6 tabla">
                    <label id="example-radio-group-label">Tipo</label>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        [(ngModel)]="pucActualizar.tipo" [value]="pucActualizar.tipo">

                        <mat-radio-button value="Según Cargo">Según Cargo</mat-radio-button>
                        <mat-radio-button value="Uno a Uno">Uno a Uno</mat-radio-button>
                    </mat-radio-group>

                </div>
                <div class="col-6 tabla">
                    <label id="example-radio-group-label">Tipo Cuenta Nav</label>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        [(ngModel)]="pucActualizar.tipoCuentaNav" [value]="pucActualizar.tipoCuentaNav">

                        <mat-radio-button value="Cuenta">Cuenta</mat-radio-button>
                        <mat-radio-button value="FICHA">Ficha</mat-radio-button>
                        <mat-radio-button value="">Ninguna</mat-radio-button>

                    </mat-radio-group>

                </div>

            </div>
            <div class="row">


                <div class="col-6 tabla">
                    <label id="example-radio-group-label">Requiere Nota en Ingles</label>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        [(ngModel)]="NotaIngles" [value]="NotaIngles">

                        <mat-radio-button value="true">Si</mat-radio-button>
                        <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>

                </div>
              
              
            </div>


        </mat-card-content>


        <mat-card-actions>
            <div class="row">
                <div class="col-6 centerlabel font-weight-bold" style="text-align: center;">
                    <button mat-raised-button color="warn" ngbAutofocus (click)="cerrar()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div class="col-6 centerlabel font-weight-bold" style="text-align: center;">
                    <button mat-raised-button color="warn" [disabled]="!(formgroup.valid)"
                        (click)="onGuardar()">
                        <mat-icon>cached</mat-icon>
                    </button>
                </div>
            </div>

        </mat-card-actions>
      
    </mat-card>

</div>