<div class="table-responsive">
    <table id="customers" matTableExporter  mat-table [dataSource]="dataSource"
      class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha</th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo_fecha">
        <th mat-header-cell *matHeaderCellDef> Tipo Fecha </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipo_fecha| uppercase }} </td>
      </ng-container>
     

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
  </div>