::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.descripcion{
    font-weight: bold;
    color: #77b856
  }

  .descripcionTexto{
   color: black;
   padding-left: 1px;
  
  }